.main {
  background-color: aliceblue;
  height: 700px;
  color: black;
}

.NavWrapper {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background-color: #e2aaca;
  border: thick double #7d305c;
  align-items: center;
}

.picture {
  display: flex;
  font-size: 50px;
  width: 500px;
  justify-content: flex-start;
  filter: drop-shadow(5px 5px 10px #000000);
}

.Saying {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  color: white;
}

.bigDiv {
  display: flex;
  justify-content: center;
}

.bigDiv ul {
  list-style-type: none;
}

.pic {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  text-align: center;
  padding: 20px;
}

.Card {
  padding: 35px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 500px;
}

.Card h2 {
  font-size: 70px;
  padding: 10px;
}

.Card h3 {
  font-size: 35px;
}

.Temp {
  font-size: 70px;
  padding: 40px;
}

.cloud {
  font-size: 50px;
  padding: 30px;
}

.idk {
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 650px;
  text-align: center;
  font-size: 40px;
  padding: 60px;
}

.list li {
  padding: 20px;
  border: thick double #7d305c;
  border-radius: 40%;
  background-color: #cca3baaf;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
